# The directory you want to watch. If you are entering a Windows path
# either use forward slashes (C:/mydir) or escape the back slashes (C:\\mydir). 
#directory=C:/Inetpub/wwwroot/cfide
directory=D:/Coldfusion11/cfusion/wwwroot/ford.autorevolution.net/directoryWatcher/Source


# Should we watch the directory and all subdirectories too
# Default is no. Set to 'yes' to do the recursion. 
recurse=yes


# The interval between checks, in milliseconds
# Default is 10 seconds
interval=10000


# The comma separated list of extensions to match.
# Default is * - all files
extensions=*


# CFC Function for file Change events
# Default is onChange, set to nothing if you don't want to see these events
changeFunction=onChange


# CFC Function for file Add events
# Default is onAdd, set to nothing if you don't want to see these events
addFunction=onAdd


# CFC Function for file Delete events
# Default is onDelete, set to nothing if you don't want to see these events
#deleteFunction=